Source: ros-indigo-care-o-bot-robot
Section: misc
Priority: extra
Maintainer: Florian Weisshardt <fmw@ipa.fhg.de>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-care-o-bot-robot
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-cob-calibration-data, ros-indigo-cob-command-tools, ros-indigo-cob-common, ros-indigo-cob-control, ros-indigo-cob-driver, ros-indigo-cob-environments, ros-indigo-cob-extern, ros-indigo-cob-robots, ros-indigo-cob-substitute, ros-indigo-ros-canopen, ros-indigo-schunk-modular-robotics
Description: The care-o-bot-robot meta-package
